ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: auto;
  margin-bottom: 50px;
}

ul > li > button {
  width: 200px;
  padding: 10%;
  margin-top: 15px;
  border-radius: 50px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
